.git/
.venv/
.vscode/
.devcontainer/
__pycache__/
*.pyc
*.pyo
.hf-cache/

data/
outputs/
wandb/
log_slurm/
persisted_models/
nanoGPT/
distilled_checkpoints/
sandbox/distilled_checkpoints/
cache/
logs/
wandb/
wandb/**
metrics/

*.pth
*.pt
*.ckpt
*.h5
*.pkl
*.pickle

notebooks/
tests/

.env
.env.*
*.log
*.out

.DS_Store
Thumbs.db

*.md
!requirements.txt

lrz/
